body {

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;

}

.header {

background-color: #1F2937;
display: flex;
justify-content: space-around;
align-items: center;


}

.hero-image {

padding-bottom: 100px;

}


a {

text-decoration: none;
font-size: 18px;
color: #e5e7eb
   
}

ul {

list-style-type: none;
display: flex;
gap: 16px;
    
}

.logo {

font-size: 24px;
color: #f9f8fa

}

.hero {

background-color: #1F2937;
display: flex;
justify-content: space-around;
padding-top: 75px;
padding-left: 23rem;
padding-right: 23rem;


}

.hero-main {

font-size: 48px;
font-weight: bold;
color: #f9f8fa;
margin-bottom: 8px;

}
    

.hero-secondary {


font-size: 18px;
color: #e5e7eb;  
margin-bottom: 8px; 


}

button {

background-color: blue;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
font-size: 16px;
font-weight: bold;
border-radius: 12px;
}

img {

display: flex;

}

