body {

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;
min-height: 100vh;

}

.header {

background-color: #1F2937;
display: flex;
justify-content: space-around;
align-items: center;

}

.hero-image {

padding-bottom: 100px;

}


a {

text-decoration: none;
font-size: 18px;
color: #e5e7eb
   
}

ul {

list-style-type: none;
display: flex;
gap: 16px;
    
}

.logo {

font-size: 24px;
color: #f9f8fa

}

.hero {

background-color: #1F2937;
display: flex;
justify-content: space-around;
padding-top: 75px;
padding-left: 23rem;
padding-right: 23rem;


}

.hero-main {

font-size: 48px;
font-weight: bold;
color: #f9f8fa;
margin-bottom: 8px;

}
    

.hero-secondary {


font-size: 18px;
color: #e5e7eb;  
margin-bottom: 8px; 

}

button {

background-color: blue;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
font-size: 16px;
font-weight: bold;
border-radius: 12px;
}

img {

display: flex;

}

.title {

font-size: 36px;
font-weight: bold;
color: #1F2937;
justify-content: center;
display: flex;
padding-top: 32px;
background-color: antiquewhite;

}

.random-info {

display: flex;
justify-content: center;
text-align: center;
gap: 100px;
padding-top: 50px;
background-color: antiquewhite;
padding-bottom: 75px;

}

.info {

max-width: 200px;

}

.quote-section {

background-color: #E5E7EB;
padding: 8rem;

}

.main-quote {

font-size: 36px;
color: #1F2937;
font-style: italic;
display: flex;
justify-content: center;
align-items: center;

}

.quote-secondary {

font-weight: bold;
font-size: 12;
display: flex;
justify-content: flex-end;
align-items: center;
padding-top: 9px;

}

.call-to-action {

text-align: center;
padding: 3rem;
background-color: #3882f6;
color: white;
display: flex;
flex-direction: row;
gap: 16rem;
justify-content: space-evenly;

}

.button-title {

margin-right: 15rem;
font-weight: bold;
font-size: larger;

}

.right-button {

background-color: #3882f6;
border: solid;

}

.button-section {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5rem;

}

.footer {

background-color: #1F2937;
color: #f9f8fa;
display: flex;
justify-content: center;
align-items: center;
margin-top: auto;
height: 80px;

}